{% extends 'base.html' %} {% load static %} 
{% block title %} Solicitações {% endblock %} 

{% block content %}

<center><h3>Minhas solicitações</h3></center>

  {% for solicitacao in solicitacoes %}
    
    Tipo (venda/doacao/emprestimo): {{solicitacao.ad.ad_type}} <br>
    Dono do anúncio: {{solicitacao.ad.material.user.username}}
    <br>
    <a
            href="{% url 'ads:negociacao_url' solicitacao.ad.pk %}"
            class="btn btn-primary"
            role="button"
            >Negociação</a
        >
    <br/>
  {% endfor %}
{% endblock %}
//acessar dados do material solicitacao.ad.material
//dados do anunciante solicitacao.ad.material.ad.dadoquequer
//dados do anuncio solicitacao.ad