{% extends 'base.html' %}
{% load static %}

{% block title %} Solicitações  {% endblock %} 

{% block content %}


<center><h3>Minhas solicitações</h3></center>

{% for solicitacao in solicitacoes %}
<b>Material</b>:
<a
  target="_blank"
  href="{% url 'ads:vermais_url' solicitacao.ad.pk solicitacao.ad.material.pk %}"
  >{{ solicitacao.ad.material.title }} </a
><br />

<b>Tipo anúncio:</b> {{ solicitacao.ad.get_ad_type_display }} <br />
<b>Dono do anúncio:</b> {{ solicitacao.ad.material.user.username }}<br />
<b class="left">Status:</b>
{% if solicitacao.ad.request_accepted == None %}
<span class="badge left orange white-text">Aguardando</span> 
{% elif solicitacao.ad.request_accepted.user == user %}
<span class="badge left green white-text">Aceita</span> 
{% else %} <span class="badge left red white-text">Outra solicitação foi aceita</span>
{% endif %}
<br />
{% if solicitacao.ad.request_accepted == None or solicitacao.ad.request_accepted.user == user %}
<br />
<a
  href="{% url 'ads:negociacao_url' solicitacao.ad.pk %}"
  class="btn btn-primary"
  role="button"
  >Negociação</a
>
<br />
{% endif %}

{% endfor %} {% endblock %}
