{% extends 'base.html' %} {% load static %} 
{% block title %} Recebidas {% endblock %} 

{% block content %}

    <center><h3>Solicitações recebidas</h3></center>
    {% for solicitacao in solicitacoes %}
        Material anunciado: {{solicitacao.ad.material.title}} </br>
        tipo do anuncio: {{solicitacao.ad.get_ad_type_display}} </br>
        solicitante: {{solicitacao.user.username}}
        <a
            href="{% url 'ads:negociacao_url' solicitacao.ad.pk %}"
            class="btn btn-primary"
            role="button"
            >Negociação</a
        >
        <br/>
    {% endfor %}
{% endblock %}