.options-material-list {
  position: relative;
  left: 0%;
}

.fixed-action-btn {
  position: fixed;
  top: 100px;
  right: 50px;
}

.preview {
  border-radius: 50%;
}
.imgcenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.txtavatar {
  text-align: center;
}

#profile-card .card-image {
  height: 150px;
}

#profile-card .card-profile-image {
  width: 70px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
}

#profile-card .btn-move-up {
  position: relative;
  top: -40px;
  right: -18px;
  margin-right: 10px !important;
}

#profile-card .card-content p {
  font-size: 1.2rem;
  margin: 10px 0 12px;
}

.card-move-up .move-up {
  padding: 20px;
}

.black-overlay {
  background-color: rgba(0, 0, 0, 0.42) !important;
}

.dropdown-content li > a, .dropdown-content li > span{
  color: #000;
}
