/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
  /*  src: url(https://fonts.gstatic.com/s/materialicons/v30/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2'); */
    src: url('../fonts/materialize.woff2') format('woff2');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

.chat-field{
  background-color:#fff;
  display:inline-block;
  position:relative;
  padding:5px;
  margin-left:10px;
  border:2px solid red;
  border-top-right-radius:10px;
}

.chat-field2{
  background-color:#fff;
  display:inline-block;
  position:relative;
  padding:5px;
  margin-right:10px;
  border:2px solid grey;
  border-top-left-radius: 10px;
}

.chat-message{
  margin:0;
}

.example{
  width:0;
  height:0;
  border-width: 10px 0px 10px 10px;
  border-style:solid;
  border-color:red transparent transparent transparent;
  position:absolute;
  top:-2px;
  left:0;
  transform:translate(-100%,0);
}

.example2{
  width:0;
  height:0;
  border-width: 10px 10px 10px 0px;
  border-style:solid;
  border-color:grey transparent transparent transparent;
  position:absolute;
  top:-2px;
  right:-20px;
  transform:translate(-100%,0);
}