{% extends 'base.html' %} {% load static %} {% block title %} Meus Anúncios 
{% endblock %} {% block content %}

<center><h3>Meus Anúncios</h3></center>

{% for anuncio in anuncios %} 
<b>Material:</b> {{ anuncio.material.title }} <br />
<b>Assuntos:</b> {% for subject in anuncio.material.subject.all %}{{ subject }}, {% endfor %}</br>
<b>Tipo anúncio:</b> {{ anuncio.get_ad_type_display }} <br />
<br />
<a
  href="{% url 'ads:solicitacoes_anuncio' anuncio.pk %}"
  class="btn btn-primary"
  role="button"
  >Solicitações</a
>
<br />
<br />
<hr>
{% endfor %} {% endblock %}
