{% extends 'base.html' %} {% load static %} {% block title %} Solicitações recebidas 
{% endblock %} {% block content %}

<center>
  <h3>Solicitações de {{ anuncio.material.title }}</h3>
</center>

<b>Assuntos:</b> {% for subject in anuncio.material.subject.all %}{{ subject }}, {% endfor %}</br>
<b>Tipo anúncio:</b> {{ anuncio.get_ad_type_display }} <br />

<br />
{% for solicitacao in solicitacoes %} <b>Solicitante:</b>
{{ solicitacao.user.username }}
{% if anuncio.request_accepted == solicitacao %}
<i class="material-icons right green-text">
  check_circle
  </i><span class="badge green white-text">Solicitação aceita</span>
  <a
  href="{% url 'ads:negociacao_url' solicitacao.ad.pk %}"
  class="btn-small right  btn-primary"
  role="button"
  >Negociação</a
>
{% endif %}
{% if anuncio.request_accepted != solicitacao and anuncio.request_accepted is not None %}
<i class="material-icons right red-text">
  report
  </i><span class="badge red white-text">Outra solicitacao aceita</span>

{% endif %}
{% if anuncio.request_accepted is None %}
<a
  href="{% url 'ads:aceitar' anuncio.pk solicitacao.pk %}"
  class="btn-small right btn-primary green"
  role="button"
  >Aceitar</a
>
<a
  href="{% url 'ads:negociacao_url' solicitacao.ad.pk %}"
  class="btn-small right  btn-primary"
  role="button"
  >Negociação</a
>
{% endif %}


<br />
<br /><hr/>
<br />
{% endfor %}
{% if not solicitacoes %}
<h5>Não há solicitações para esse anúncio</h5>
<br/>
<a
  href="{% url 'ads:meus_anuncios' %}"
  class="btn-small  btn-primary"
  role="button"
  >Voltar</a
>
{% endif %}

{% endblock %}
