{% extends 'base.html' %} {% load static %} {% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css"
  rel="stylesheet"
/>
{% endblock%} {% block title %} Home {% endblock%} {% block content %}
<div id="map" width="100%" style="height:400px"></div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating red"><i class="material-icons">insert_chart</i></a>
    </li>
    <li>
      <a class="btn-floating yellow darken-1"
        ><i class="material-icons">format_quote</i></a
      >
    </li>
    <li>
      <a class="btn-floating green"><i class="material-icons">publish</i></a>
    </li>
    <li>
      <a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
    </li>
  </ul>
</div>
<script>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  }
  function showPosition(position) {
    mapboxgl.accessToken = "{{ mapbox_access_token }}";
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/navigation-guidance-day-v2",
      center: [position.coords.longitude, position.coords.latitude],
      zoom: 13,
      bearing: 180
    });
    var size = 200;

    var pulsingDot = {
      width: size,
      height: size,
      data: new Uint8Array(size * size * 4),

      onAdd: function() {
        var canvas = document.createElement("canvas");
        canvas.width = this.width;
        canvas.height = this.height;
        this.context = canvas.getContext("2d");
      },

      render: function() {
        var duration = 1000;
        var t = (performance.now() % duration) / duration;

        var radius = (size / 2) * 0.3;
        var outerRadius = (size / 2) * 0.7 * t + radius;
        var context = this.context;

        // draw outer circle
        context.clearRect(0, 0, this.width, this.height);
        context.beginPath();
        context.arc(
          this.width / 2,
          this.height / 2,
          outerRadius,
          0,
          Math.PI * 2
        );
        context.fillStyle = "rgba(255, 200, 200," + (1 - t) + ")";
        context.fill();

        // draw inner circle
        context.beginPath();
        context.arc(this.width / 2, this.height / 2, radius, 0, Math.PI * 2);
        context.fillStyle = "rgba(255, 100, 100, 1)";
        context.strokeStyle = "white";
        context.lineWidth = 2 + 4 * (1 - t);
        context.fill();
        context.stroke();

        // update this image's data with data from the canvas
        this.data = context.getImageData(0, 0, this.width, this.height).data;

        // keep the map repainting
        map.triggerRepaint();

        // return `true` to let the map know that the image was updated
        return true;
      }
    };

    map.on("load", function() {
      map.addImage("pulsing-dot", pulsingDot, { pixelRatio: 3 });

      map.addLayer({
        id: "points",
        type: "symbol",
        source: {
          type: "geojson",
          data: {
            type: "FeatureCollection",
            features: [
              {
                type: "Feature",
                geometry: {
                  type: "Point",
                  coordinates: [
                    position.coords.longitude,
                    position.coords.latitude
                  ]
                },
                properties: {
                  title: "Sua localização"
                }
              }
            ]
          }
        },
        layout: {
          "icon-image": "pulsing-dot",
          "text-field": "{title}",
          "text-anchor": "top",
          "text-offset": [0, 0.6]
        }
      });
    });
  }
</script>

{% endblock %}
