{% extends 'base.html' %} {% load static %} {% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css"
  rel="stylesheet"
/>
{% endblock%} 


{% block content %}

{% block title %}  Materiais disponíveis: {% endblock %} <br><br>

  {% for venda in vendas %}
    MATERIAL:
    {{ venda.title }}
    {{ venda.category }}
    {{ venda.author }}

    {% for subject in venda.subject.all %}
      {{ subject }} 
    {% endfor %}

    {{ venda.user.username }}
    <br><br>
  {% endfor %}

  <div id="map"  style="height:400px"></div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li>
        <a class="btn-floating red"
          ><i class="material-icons">insert_chart</i></a
        >
      </li>
      <li>
        <a class="btn-floating yellow darken-1"
          ><i class="material-icons">format_quote</i></a
        >
      </li>
      <li>
        <a class="btn-floating green"
          ><i class="material-icons">publish</i></a
        >
      </li>
      <li>
        <a class="btn-floating blue"
          ><i class="material-icons">attach_file</i></a
        >
      </li>
    </ul>
  </div>
</div>


  {% endblock %}
</div>
