{% extends 'base.html' %} {% load static %} 
{% block title %} Home {% endblock %} 
{% block content %}
{% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.min.js"></script>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.css"
  type="text/css"
/>
            <!--
            #TEXTO QUE ESTAVA NO FOOTER...

            O Bricademy é uma aplicação web que permite aos usuários disponibilizarem
            a mídia física de materiais acadêmicos para venda, doação ou empréstimo, e permite usuários cadastrados no
            sistema solicitarem os mesmos. O sistema conta com um acervo composto pelos anúncios dos usuários que
            poderá ser explorado por qualquer usuário. Dessa forma a realização de trocas e vendas de publicações pode
            ser feita de maneira rápida e segura entre pessoa de diversas regiões do país, através de uma interface
            simples e intuitiva.
            -->


