{% extends 'base.html' %} {% load static %} {% block title %} 
Registro {% endblock %} {% block content %}

<div class="row">
  <br/><br/><br/><br/>
  <div class="col s12 m6 l6">
    <div id="profile-card" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="https://materializecss.com/images/office.jpg"
          alt="user bg"
        />
      </div>
      <div class="card-content">
        <img
          src="{{ request.user.profile.avatar.url }}"
          height="100"
          width="100"
          alt=""
          class="circle responsive-img activator card-profile-image cyan lighten-1 padding-2"
        />
        <a
          href="{% url 'users:update_url' %}"
          class="btn-floating btn-move-up waves-effect waves-light red accent-2 z-depth-4 right"
          ><i class="material-icons">edit</i></a
        >
        <span class="card-title activator grey-text text-darken-4"
          >{{ user.first_name }} {{ user.last_name }}</span
        >
        <p><i class="material-icons">perm_identity</i> {{ user.username }}</p>
        <p><i class="material-icons">email</i> {{ user.email }}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >{{ user.first_name }} {{ user.last_name }}
          <i class="material-icons right">close</i>
        </span>
        <p><i class="material-icons">perm_identity</i> {{ user.username }}</p>
        <p><i class="material-icons">email</i> {{ user.email }}</p>
        <p><i class="material-icons">cake</i> {{ user.profile.birth }}</p>
        <p><i class="material-icons">fingerprint</i> {{ user.profile.CPF }}</p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div id="profile-card" class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img
          class="activator"
          src="https://cdn.mapsinternational.co.uk/pub/media/catalog/product/cache/afad95d7734d2fa6d0a8ba78597182b7/b/l/blue-world-map-wallpaper_wp00823_1.jpg"
          alt="user bg"
        />
      </div>
      <div class="card-content">
        <a
          class="btn-floating  btn-move-up waves-effect waves-light red accent-2 z-depth-4 right"
        >
          <i class="material-icons">edit</i>
        </a>
        <span class="card-title activator grey-text text-darken-4"
          >Endereço</span
        >
        <p>
          <i class="material-icons activator">location_on</i>
          {{ address.street }} {{ address.number }}
        </p>
        <p>
          <i class="material-icons activator">location_city</i>
          {{ address.city }}
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >Endereço
          <i class="material-icons right">close</i>
        </span>
        <p>Rua: {{ address.street }}</p>
        <p>Número: {{ address.number }}</p>
        <p>Complemento: {{ address.complement }}</p>
        <p>Bairro: {{ address.district }}</p>
        <p>Cidade: {{ address.city }}</p>
        <p>CEP: {{ address.CEP }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
